posters/
.ipynb_checkpoints/
!**/__pycache__/

data/all_clean_genres.npy
data/all_clean_ids.npy
data/all_clean_posters.npy
data/sets/

data/numpy_genres.npy
data/numpy_ids.npy
data/numpy_posters.npy

moviegenre/brouillon.py

local/



moviegenre/yolov3-tf2/data/yolov2.weights


