posters/
.ipynb_checkpoints/
**/__pycache__/
.idea/
venv/

data/all_clean_genres.npy
data/all_clean_ids.npy
data/all_clean_posters.npy
data/sets/
data/features
data/preprocessed
data/numpy_genres.npy
data/numpy_ids.npy
data/numpy_posters.npy

logs/
